
.main{
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}
.overlay{
    height: calc(100vh - 70px);
    background-color: rgba(0, 0, 0, 0.106);
    
}
.content{
    width: 500px;
    background-color: white;
}

@media (max-width: 576px) {
   .content{
    width: 100%;
   }
}



/* banner One */

.banner-one-box{
    min-height: 50vh;
    background: var(--secondary-color);
}
.banner-one-image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: var(--text-color);
}
.banner-one-image{
    max-width: 100%;
    width: 500px;
    height: 300px;
    object-fit: cover;
}