.footer {
   
    color: #333; /* Dark text color */
  }
  
  .footer h5 {
    font-weight: bold;
  }
  
  .footer a {
    color: black; /* Bootstrap primary color */
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .social-icons a {
    margin-right: 15px; /* Space between social icons */
    font-size: 1.5rem; /* Adjust size as needed */
    color: #333; /* Icon color */
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change color on hover */
  }
  